<h2>Edit Post</h2>

<% # Title, Tags, Text %>
<!-- Title, Tags, Text -->


<%= form_tag('/posts', method: :patch, class: 'post-form') do %>
  <div class="post-input">
    <%= label_tag(:title, "Title: ") %>
    <%= text_field_tag(:title, nil, size: 40) %>
  </div>

  <div class="post-input">
    <%= label_tag(:tags, "Tags: ") %>
    <%= text_field_tag(:tags, nil, size: 40) %>
  </div>

  <div class="post-input">
    <%= label_tag(:content, "Content: ")%>
    <br/>
    <%= text_area_tag(:content, nil, rows: 40, cols: 80) %>
  </div>

  <br/>
  <div><%= submit_tag 'Save' %></div>
  <%= hidden_field_tag(:id, @post.id) %>

<% end %>
<br/>
<div>
  <%= link_to "Back", :back %>
</div>